<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Информация по производителям ноутбуков</title>
    <link rel="stylesheet" href="../css/commonInfo.css" th:href="@{/css/commonInfo.css}" />
    <style>
        /* form {
            border: 1px solid #87CEEB;
            margin: 10px;
            padding: 10px;
        } */
    </style>
</head>

<body>
<h1>Common Info</h1>
<br>
<a href="/" th:href="${ctxPath}+'/hello-servlet'">Главная</a>
<br>
<table>
    <tr>
        <th>Название производителя</th>
        >
        <th>Страна Штаб-квартиры</th>
        <th>Логотип</th>
        <th>Количество сотрудников</th>
        <th>Краткая информация о производителе</th>
    </tr>
    <tr>
        <td>Название производителя</td>
        >
        <td>Страна Штаб-квартиры</td>
        <td>Логотип</td>
        <td>Количество сотрудников</td>
        <td>Краткая информация о производителе</td>
    </tr>
</table>


</body>

</html>