<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Новости</title>
    <link rel="stylesheet" href="../css/commonInfo.css" th:href="@{/css/commonInfo.css}" />
    <style>
        /* form {
            border: 1px solid #87CEEB;
            margin: 10px;
            padding: 10px;
        } */
    </style>
</head>

<body>
<!--<h1 th:text="'Новости '+${dev.getName()}">Новости</h1>-->
<h1>Новости</h1>
<br>
<a href="/" th:href="${ctxPath}+'/main'">Главная</a>
<br>
<hr>
<br>


<div th:each="newsRec, iterStat : ${newsMap}">
<!--    <ul>-->
<!--        <li th:href="${ctxPath}+'/news/detailedNews?newsId='+${newsRec.getKey()}" th:text="${newsRec.getValue()} ">some news record </li>-->

<!--        <div style="text-align: center">-->
<!--            <img style="width: 30%" th:src="${ctxPath}+'/newsImg?newsId='+${newsRec.getKey()}" src="../img/notebook.jpg" alt="news">-->
<!--        </div>-->

<!--    </ul>-->
        <a th:href="${ctxPath}+'/news/detailedNews?newsId='+${newsRec.getKey()}" th:text="${newsRec.getValue()} ">some news record </a>

        <div style="text-align: center">
            <img style="width: 30%" th:src="${ctxPath}+'/DetailedNewsImg?newsId='+${newsRec.getKey()}" src="../img/notebook.jpg" alt="news">
        </div>
        <br>
        <hr>
        <br>

</div>




</body>

</html>