<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Информация по производителю</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!--    <link rel="stylesheet" href="../css/startMenu.css" th:href="@{/css/startMenu.css}" />-->
    <link rel="stylesheet" href="../css/developerMenu.css" th:href="@{/css/developerMenu.css}" />
<!--    <link href="${pageContext.request.contextPath}/css/developerMenu.css" rel="stylesheet">-->
<!--    <link href="${pageContext.request.contextPath}/templates/bootstrap/plugins/fontawesome-free/css/all.min.css" rel="stylesheet">    -->
<!--    <link rel="stylesheet" type="text/css" href="../css/developerMenu.css" th:href="@{/developerMenu.css}" />-->
    <style>
        /* form {
            border: 1px solid #87CEEB;
            margin: 10px;
            padding: 10px;
        } */

    </style>
</head>

<body>

<p style="color: aqua">
    Today is: <span th:text="${#calendars.format(today)}">13 February 2011</span>
</p>
<p style="color: aqua">
    Current developer is: <span th:text="${devName}">RosChrenProduct</span>
</p>

<div>
<nav role="navigation">
    <ul>
        <li><a href="/" th:href="${ctxPath}+'/main'">Главная</a></li>
<!--        <li><a href="/sitemap">О производителе</a>-->
<!--            <ul>-->
                <li><a href="/commonInfo" th:href="${ctxPath}+'/commonInfo?devid='+${devId}">Общая информация</a></li>
                <li><a href="/DevHistrory" th:href="${ctxPath}+'/DevHistrory?devid='+${devId}">История развития производителя</a></li>
                <li><a href="/news" th:href="${ctxPath}+'/news?devid='+${devId}">Новости</a></li>
                <li><a href="/DevModels" th:href="${ctxPath}+'/DevModels?devid='+${devId}">Модели нотебяков</a></li>
<!--            </ul>-->
<!--        </li>-->
        <li><a href="/contact">Обратная связь</a></li>
    </ul>
</nav>
<div style="text-align: center">
    <img style="width: 50%" th:src="${ctxPath}+'/img?devid='+${devId}" src="../img/notebook.jpg" alt="laptop"></div>
</div>

<!--<div id="logo" class="logo"></div>-->


<!--<div style="position: center;-->
<!--    border: 1px solid black;-->
<!--    margin-bottom: 20px;-->
<!--    margin-left: auto;-->
<!--    margin-right: auto;-->
<!--">-->
<!--    <a style="position: absolute;-->
<!--    left: 50%;-->
<!--    top: 80%;-->
<!--    transform: translate(-50%,-50%);"-->
<!--       href=""><img src="../img/notebook.jpg" alt="laptop"></a>-->
<!--</div>-->

</body>



</html>